<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                Register
            </div>
            <div class="panel-body">    
                <form {{action 'register' on='submit'}} class="form">
                    <div class="form-group">
                        <label for="identification">Username</label>
                        {{input id='identification' placeholder='Enter your e-mail address' value=user.email class='form-control' type='email'}}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{input id='password' placeholder='Enter Password' type='password' value=user.password class='form-control'}}
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class='btn btn-success'>Register</button>
                    </div>
                </form>
            {{#if errorMessage}}
                <div class="alert alert-danger text-center">{{errorMessage}}</div>
            {{/if}}
            </div>
        </div>
    </div>
</div>